<html>

<body style="background-color:#000000">
    <div id="myIframe" style="white-space: pre-line;overflow-y: scroll;font-size: large; font-family: sans-serif; height:100%;color:#FFFFFF;background-color:#000000">
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
    window.setInterval(function() {
        $.get("/getConsoleLog?ip=" + '{{ ip }}' + "&_=" + new Date().getTime()).done(function(data) {
                console.log(data);
                $("#myIframe").text(data);
            })
            .fail(function() {
                console.log("error");
            });

        var objDiv = document.getElementById("myIframe");
        objDiv.scrollTop = objDiv.scrollHeight;
        /// call your function here
    }, 1000);
</script>

</html>